include ./src/header/header.pug
include ./src/menu/menu.pug
include ./src/modal/modal.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="./images/icon/favicon.ico" type="image/x-icon")
    title Test Dev
    link(rel="stylesheet", href="./index.scss")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  body
    .wrapper
      .overlay.--hide
      +modal()
      .container
        .love.love-left.js__love-left
        .love.love-right.js__love-right
        +header()
        +menu()
        main.main
          .main__wrap
            .main__offer
              span Хотите избавиться от </br><strong> нежелательных волос</br></strong> или нужен сеанс <strong></br>антицеллюлитного массажа?</strong>
            .main__inner
              .main__inner-desc-and-btn
                ul.main__list
                  each item in ["депиляция воском и Шугаринг;", "профессиональные сертифицированные мастера;", "работаем и с женщинами, и с мужчинами;", "результат уже после первой процедуры."]
                    li.main__item=item
                .main__btn-card.js__btn-card
                  span получить карту клиента бесплатно
                  .main__branch
              .main__card
                .main__wrap-icon-info
                  .main__icon-info.js__btn-info           
                  .main__info-card 
                    span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        
        .main-next
    script(src="/index.js")
