mixin header()
  header.header
    
    .header__logo-inner
      a(href="#")
        img.header__logo(src="./src/header/images/logo.png", alt="Студия депиляции и массажный кабинет в Бресте")
      .header__subtitle
        p Студия депиляции и массажный кабинет в Бресте
    .header__wrap-location
      .header__map-icon
      .header__inner-address
        .header__address <b> Мы находимся в центре:</b> 
          span г. Брест, ул. Гоголя, д.65
        .header__map-link.js__map-link
          a(href="maps") СМОТРЕТЬ НА КАРТЕ
          .header__map
            script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2e551d607b86624a64ddd6d12b8b3834739982bf394ee4f7bee2112aa2d3bf8e&amp;width=400&amp;height=332&amp;lang=ru_RU&amp;scroll=true")
    .header__wrap-contact
      .header__inner-contact
        .header__inner-icon-contact
          .header__icon-contact.header__icon-phone
        .header__inner-phone
          .header__work-status Звоните, мы сейчас работаем
          .header__phone 
            a(href="tel:+375333822499") +375 33 382 24 99
      .header__inner-contact
        .header__inner-icon-contact
          .header__icon-contact.header__icon-clock
        .header__schedule 
          span Пн-Вс <strong> 9:00-21:00</strong>
    .header__wrap-btn-record
      .header__phone-mobile
        a(href="tel:+375333822499") +375 33 382 24 99
      .header__btn-record.js__btn-record
        span Записаться онлайн

    .header__wrap-mobile-menu.js__btn-menu         