nav.menu__wrap
  ul.menu__list
    each title in ["Главная", "Шугаринг и депиляция воском", "Антицеллюлитный массаж","Классический массаж","Обучение","Косметика для мастеров", "Статьи", "О студии", "Контакты"]
      a.menu__link(href="#")
        li.menu__item=title